{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Комментарии</title>
    <link rel="stylesheet" href="{% static 'add_news/css/style.css' %}" type="text/css">
</head>
<body>
     <header class="header">
        <div class="header__top">
            <div class="container">
                <a class="header__logo-link link" href="{% url 'news' %}">Newsews</a>
            </div>
        </div>
        <div class="header__button">
            <div class="container">
                <nav class="header__nav">
                    <ul class="header__nav-list list">
                        <li class="header__list-item"><a href="{% url 'news' %}" class="header__nav-link link">Главная</a></li>
                        <li class="header__list-item"><a href="contacts/" class="header__nav-link link">Контакты</a></li>
                        <li class="header__list-item">
                            <a href="{% url 'create' %}" class="header__nav-link link"><button class="header__btn">+</button>
                            </a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <section class="comments">
        <div class="container">
             <h3 class="about__heading">Добавить комментарий</h3>
             <form method="post" class="comments__form">
                 {% csrf_token %}
                 {{comment_form.as_p}}
                 <button type="submit" class="comments__btn">Отправить</button>
             </form>
        </div>
    </section>

    <footer class="footer">
        <div class="container">
            <div class="footer__span-block">
                <span class="footer__span">Сделано для <a href="https://skillbox.ru/" class="footer__link link" target="_blank">
                    Skillbox
                </a>
                </span>
            </div>
        </div>
    </footer>
</body>
</html>