{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{detail_news.title}}</title>
    <link rel="stylesheet" href="{% static 'add_news/css/style.css' %}" type="text/css">
</head>
<body>
<a href="{% url 'news' %}">Главная</a>
<div class="container">
    <h2>{{ title }}</h2>
    <ul>
        <li>
            <p>{{ detail_news.title }}</p>
            <p>{{ detail_news.anons }}</p>
            <p>{{ detail_news.text }}</p>
            <p>{{ detail_news.create_at }}</p>
            {% if request.user.is_authenticated %}
                <p>Автор: {{ request.user.username }}</p>
            {% endif %}
            {% if detail.activity %}
                <p>Активно</p>
            {% else %}
                <p>Архив</p>
            {% endif %}
        </li>
    </ul>
    {% if request.user.is_authenticated %}
        <a href="{% url 'add_news/detail_news.html' detail_news.id %}">Редактировать</a>
    {% endif %}
    <h3>{{ title_form }}</h3>
    {% if comment_list %}
        <ul>
            {% for comments in comment_list %}
                <li>
                    <p>{{ comments.name }}</p>
                    <p>{{ comments.comment }}</p>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Комментариев нет</p>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        {{comment_form.as_p}}
        <button type="submit">Комментировать</button>
    </form>
</div>
</body>
</html>